.ride-card{
    .name{
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: .01vw;
        margin-top: 1.8vw;
        font-weight: 700;
        font-size: 1.8vw;
        font-style: bold;
        margin-left: 1rem;
    }
    .logo-img{
        margin-top: 1.4vw;
    }
    .from-ride, .to-ride, .date-ride, .time-ride, .price-ride, .seat-availability{
        margin-left: 1.5vw;
        font-weight: 400;
        color: #8c908f;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .to-ride{
        margin-left: 2vw !important;
    }
    .boarding-ride, .date-value, .price-amount{
        margin-top: -.7vw;
        margin-left: 1.5vw;
    }
    .destination-ride, .available-seat-count, .time-value{
        margin-top: -.7vw;
        margin-left: -2.4vw;
    }
    .circle-icon-row{
        .circle-row1{
            margin-left: -1.6vw;
            margin-top: -.6vw;
        }
        .circle-row2, .circle-row3, .circle-row4, .circle-row5 {
            margin-left: -.3vw;
            margin-top: -.6vw;
        }
        .location-row{
            margin-left: -.7vw;
            margin-top: -1vw;
        }
    }
}