.book-a-ride-mainRow{
    .bookcard{
        box-shadow: 1px 1px 1px 1px #888888;
        margin-bottom: 7vw;
        margin-top: 2vw;
    }
    .tag-bookaride{
        font-size: 2vw;
        font-weight: 500;
        margin-top: 1.5vw;
        margin-left: 1.4vw;
    }
    .toggle-col{
        .toggle-button{
            margin-top: 2.5vw;
            margin-left: -1vw;
            size: 1vw;
            
        }
        button:not(:disabled), [type="button"]:not(:disabled){
            width: 3vw;
            height: 1.7vw;
            outline: 0;
            border-radius: 2vw/1.9vw !important;
        }
        .ms-Toggle-thumb{
            font-size: 2vw;
            background-color: white;
            border-radius: 1vw;
        }
        button, [type="button"]{
            background-color: #9319ff;
        }
    }
    .subtag-bookaride{
        color: #8c908f;
        margin-top: -.9vw;
        margin-left: 1.4vw;
        font-size: .9vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .form-row{
        margin-top: 1.2vw;
        margin-left: 1vw;
        button:not(:disabled), [type="button"]:not(:disabled){
            width: 6vw;
            height: 2vw;
            margin-top: 1vw;
            border-radius:2vw/1.9vw;
            background-color: white;
            color: black;
            border-color: #9319ff;
        }
        .btn-secondary:not(:disabled):not(.disabled):active{
            border-color: #9319ff;
            background-color: #9319ff;
        }
        .btn-secondary:not(:disabled):not(.disabled):active:focus{
            box-shadow: #9319ff;
        }
    }
    .from, .to, .date, .time{
        margin-bottom: 0rem;
        font-weight: 400;
        color: #8c908f;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .from-textfield, .to-textfield, .date-textfield{
        border: 1px solid white;
        border-bottom:1px solid black;
        width: 17vw;
        &:active,
        &:focus{
       outline: none;
        }     
    }
    .to, .date, .time{
        margin-top: 1vw;
    }
    .row-circle{
        .circle-row1{
            margin-left: -3vw;
        }
        .circle-row2, .circle-row3, .circle-row4, .circle-row5 {
            margin-top: .25vw;
            margin-left: -2.7vw;
        }
        .location-row{
            margin-top: .55vw;
            margin-left: -3vw;
        }
    }
    
    .submit{
        margin-top: 3vw !important;
        margin-bottom: 1vw;
        width: 7vw !important;
        height: 3vw !important;
        border-color: #ffac19 !important;
        background-color: #ffac19 !important;
        color: white !important;
        font-size: 1vw;
        font-weight: 500;
    }
    .matches-mainrow{
        margin-left: 3vw;
        margin-top: 1.5vw;
        color: #9319ff;
        font-weight: 700;
    }

    }

